# --- Secrets ---
.env

# --- Python & Cache ---
__pycache__/
*.pyc

# --- Virtual Environment ---
venv/
.venv/

# --- Application Data (Ignored) ---
# 1. Ignore the temp file used by Streamlit
temp_uploaded.pdf
sample.pdf

# 2. Ignore ANY folder that starts with 'chroma_db_' (The wildcard * handles the timestamp)
chroma_db_*/
chroma_db/
.devcontainer

# --- System Files ---
.DS_Store